@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

.header{
    @apply w-full flex justify-between items-center bg-white p-4 sm:px-8 border-b border-b-[#e5e8ef]
}

.main{
    @apply px-4 py-8 sm:p-8 w-full bg-[#f9fafe] min-h-[calc(100vh-70px)]
}

.post-btn{
    @apply bg-[#6c71f3] text-center text-white px-4 py-2 rounded-md font-inter font-medium;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}


.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}